- var para1 = "Welcome to Remin. A place for us to remember our dearly departed, sorly missed and greatly loved: "
- var para2 = "Simple. Gather as many memories, messages and images in one place to act as a reposity for everyone to share, remember and enjoy the memory of this tremendous human being."
- var para3 = "We are in an age of hyper media. Content is created and distributed everywhere. Some makes its way to social media, some is shared privately, some is hidden."
- var para4 = "With the loss of a loved one we have no way to create new memories. We can only enjoy those that have already been made. Therefore, it is my hope for Remin to act as a haven for us all to come together and leave a lasting collection of memories, a history and legacy of the person we all love."
- var para5 = "I plan to add more features. Perhaps allow commenting and discussions over a particular memory, or add the ability to share memories on other sites. If you have some suggestions or find a problem, please get in touch."
- var para6 = ""

md-content(class="md-padding" layout-xs="column" layout-sm="column" layout="row" layout-align="space-between none")
    div(flex layout="row" layout-align="center center")
        md-content(flex)
            h1 This is for Adieb
            p= para1
                | <b>Wan Adieb bin Wan Ahmad<b>.
            h2 Purpose
            p= para2
            p= para3
            p= para4
            h2 Future
            p= para5

    div(id="about-image")
        img(ng-src="https://firebasestorage.googleapis.com/v0/b/remin-f1785.appspot.com/o/main%2Fswimmerdieb.jpg?alt=media&token=5ff8d597-3593-4aea-ae87-2040447b110a" )
