div(layout="column" layout-align-gt-sm="center start" flex-offset-gt-sm="15"
layout-align-lt-sm="center center" layout-padding id="auth-form-container")
    md-content
        div(layout="row" layout-align="center center" ng-if="!vm.isLoggedIn" layout-wrap)
            md-button(flex-xs flex-sm
            id="login-button"
            class="md-raised"
            href="/#/login") LOGIN

            md-button(flex-xs flex-sm
            id="register-button"
            class="md-raised"
            href="/#/register") REGISTER

        form(name="authForm" ng-submit="authForm.$valid && vm.submitAction({user: vm.user})" class="form-signin" novalidate)
            h2(class="form-signin-heading" ng-bind="vm.formTitle")

            //Server authentication error
            p(ng-show="vm.error" class="text-danger" ng-bind="vm.error")

            //Email input
            md-input-container
                label Email
                input(ng-model="vm.user.email" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }" type="email" name="email" class="form-control" required autofocus)

            //Email error
            div(ng-show="authForm.$submitted")
                p(ng-show="authForm.email.$error.required" class="text-danger") Email required
                p(ng-show="authForm.email.$error.email" class="text-danger") Please enter a valid email.

            //Password input
            md-input-container
                label Password
                input(ng-model="vm.user.password" type="password" name="password" class="form-control" required)

            //Password error
            div(ng-show="authForm.$submitted")
                p(ng-show="authForm.password.$error.required" class="text-danger") Password required

            section
                md-button(id="auth-form-submit" class="md-raised" ng-bind="vm.formTitle" type="submit")


        div(layout="row" layout-align="center center")
            md-button(id="fab-goog" class="md-fab" ng-click="vm.oauthAction({provider: 'google'})")
                ng-md-icon(icon="google-plus-box")
            md-button(id="fab-fb" class="md-fab" ng-click="vm.oauthAction({provider: 'facebook'})")
                ng-md-icon(icon="facebook")
