doctype
html.no-js(lang="" ng-app="app" ng-cloak)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= pageTitle || siteTitle
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="lib/angular-material/angular-material.css")
    link(rel="stylesheet" href="lib/angular-material-icons/angular-material-icons.css")
    link(rel="stylesheet" href="app.css")
  body
    div(id="quickstart-sign-in-status")
    div(id="quickstart-sign-in")
    div(id="firebaseui-auth-container")

    div(ng-controller="IndexController as vm")

      include devutil.jade

      div(layout="row" layout-align="end center" ng-if="vm.isLoggedIn")
        md-toolbar(class="md-hue-2")
          div(class="md-toolbar-tools")
            h1
              span For Adieb
            md-button About
            span(flex)
            gz-add-memory-button

      div(layout="row" layout-align="center center" ng-if="!vm.isLoggedIn")
        md-button(
        id="login-button"
        ng-if="vm.showLoginButton() == true"
        class="md-fab"
        aria-label="FAB"
        href="/#/login")
          ng-md-icon(icon="login")
          md-tooltip(md-delay="0") Login

        md-button(
        id="register-button"
        ng-if="vm.showRegisterButton() == true"
        class="md-fab"
        aria-label="FAB"
        href="/#/register")
          ng-md-icon(icon="account_circle")
          md-tooltip(md-delay="0") Register

        //  md-button(
        //  id="home-button"
        //  class="md-fab"
        //  aria-label="FAB"
        //  href="/")
        //    ng-md-icon(icon="home" size="24")
        //    md-tooltip(md-delay="0") Home

        //md-button(
        //id="logout-button"
        //ng-if="vm.isLoggedIn"
        //ng-click="vm.signOut()"
        //class="md-fab"
        //aria-label="FAB")
        //  ng-md-icon(icon="logout" size="24")
        //  md-tooltip(md-delay="0") Logout

      != yield

    include lib/lib-dependencies.jade
    include firebase/firebase.jade
    script(src="firebase-storage-service/firebase-storage.service.js")

    include profile/profile-dependencies.jade
    include auth/auth-dependencies.jade
    include memory-brick/memory-brick-dependencies.jade
    include add-memory/add-memory-dependencies.jade
    include core/core-dependencies.jade
    script(src="index.controller.js")
    script(src="firebase/firebase.service.js")